{% extends "layouts/main.html" %}

{% set pageName = "Apply for a juggling licence" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Apply for a juggling licence
      </h1>

      <p class="govuk-body">
        Use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a new licence to juggle in public spaces</li>
        <li>renew an existing juggling licence</li>
        <li>update your licence details</li>
      </ul>

      <p class="govuk-body">
        Applying takes around 5 minutes.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/juggling-balls",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You will need to show that you meet the eligibility criteria, including being able to juggle at least 3 objects for 30 seconds.
      </p>

      <p class="govuk-body">
        You can also <a href="#" class="govuk-link">apply by post</a>.
      </p>

      <p class="govuk-body">
        The online service is also <a href="#" class="govuk-link">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#" class="govuk-link">Juggling safety regulations</a>
            </li>
            <li>
              <a href="#" class="govuk-link">Public performance guidelines</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
